# Global ignores
*.bak
*.la
*.lo
*.o
*.sw[a-z]
*~
.deps
.libs
Makefile
Makefile.in
cscope.out

# /
/.cproject
/.project
/.settings
/TODO_local
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libgpod-*.tar.gz
/libgpod-1.0.pc
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/py-compile
/stamp-h1

# /m4/
/m4/gtk-doc.m4
/m4/intltool.m4

# /po/
/po/Makefile.in.in
/po/POTFILES
/po/*.gmo
/po/*.mo
/po/stamp-it


/src/GPATH
/src/GRTAGS
/src/GTAGS
/src/.deps
/src/ipodlister